﻿/* 8.5 x 11in = 1056 x 816px @ 96dpi */
body {
  padding: 30px;
}

.pure-table {
  border-color: black;
}
.pure-table th {
  background-color: black;
  padding: 0.15em;
  color: white;
}

.pure-table td {
  height: 0.85em;
  padding: 0.15em;
}

.page {
  width: 1056px;
  min-height: 816px;
  margin: 0 auto;
  height: 816px;
  border: solid 1px black;
}

.pure-g-padded [class ^= "pure-u-"] {
  padding-right: 0.66em;
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box; 
}
.pure-g-padded :last-child {
  padding-right: 0;
}

h1, h2, h3, h4, h5, h6 {
  vertical-align: top;
  margin: 0;
  display: block;
  background-color: black;
  color: white;
}

h1 {
  display: inline-block;
  width:50%;
  line-height: 50px;
  padding-left: 1em;
}

h2 { 
  text-align: center;
}

.field {
  margin-left: 1em;
  padding-top: 0.10em;
  display: inline-block;
  font-size: 0.66em/0.66em;
  height: 50px;
}

.field .value {
  display: block;
  height: 40%;
  text-align: center;
  font-family: sans-serif;
}

.field label {
  display: block;
  border-top: solid 1px;
  border-color: inherit;
  text-align: center;
}

.field.field-lg {
  width: 20%;
}

.field.field-sm {
  width: 5%;
}

.field.field-xs {
  width: 20px;
}

.field.field-bordered .value {
  border: solid 1px;
  border-color: inherit;
}

.stat-name {
  display: inline-block;
  text-transform: uppercase;
  height: 50px; 
  width: 30px;
  font-size: 1.25em;
  line-height: 50px;
  vertical-align: top;
  text-align: center;
}

.numeric {
  width: 25px;
}

.field-lg.numeric {
  width: 35px;
}

.lowlight {
  border-color: darkgray;
  color: darkgray;
}

.field.striped {
  border-color: white;
}

#klasses {
  float: right;
  width: 160px;
}

#saves {
  font-size: 0.8em;
  table-layout: fixed;
  border-spacing: 0.5em 0.66em; 
  border-collapse: separate;
  vertical-align: bottom;
  width: 100%;
  text-align: center;
}
#saves thead th {
  font-size: 1.2em;
  text-transform: uppercase;
}
#saves tbody th {
  font-weight: normal; 
  word-wrap: break-word;
}

#saves td {
  border: solid 2px;
  border-color: inherit;
}

#stats {
  font-size: 0.8em;
}

[class ^= "x-"] {
  white-space: pre;
  line-height: 0.9em;
  padding-top: -0.2em;
}

.x-mod::before { content: "Δ"; }
.x-plus::after { content: "\A+"; }
.x-eq::after { content: "\A="; }
.x-minus::after { content: "\A-"; }

.placeholder {
  color: lightgray;
}

.icon {
  position: relative;
  left: 0px;
  height: 32px;
  width: 32px;
  vertical-align: top;
}

@media print {
@page {
  margin: 10mm;
}

body {
  padding: 0;
}

.page {
  border: none;
  page-break-after: always;
}

}
